<ion-view title="About Us" id="aboutus">
    <ion-content padding="false" class="has-header">
        <button id="login-button4" class="button button-positive  button-block" ng-click="checkAppAvailability()">Check App Availability</button>
        <button id="login-button4" class="button button-positive  button-block" ng-click="showAppVersion()">Show App Version</button>
        <button id="login-button4" class="button button-positive  button-block" ng-click="getBatteryStatus()">Show Battery Status</button>
           <button id="login-button4" class="button button-positive  button-block" ng-click="scanBarCode()">Scan bar Code</button>
    </ion-content>
</ion-view>
